body{background-color: aquamarine; padding: 0; margin: 0;}
.nav1{background-color: #222222;}
.nav1 p{display: inline;}
.logo{background-color: #F0A83E;}
.imagenfondo{width: 100%; background-image: url(../img/perro.jpg); height: 70vh; background-size: cover; text-align: center;}
.nav3 ul li{display: inline; margin-left: 10px;}
.nav3 ul { padding: 0;}
.productos li p{ color: #F0A83E;}
.productos li div{ color: #161616;}
.productos ul li a{ text-decoration: none;}
.productos ul {list-style: none; padding: 0;}
.nav4Footer{background-color: #F0A83E;}
.footer{background-color: #3C2313;}
.footer ul{list-style: none; padding: 0;}
.footer2{background-color: #F0A83E; text-align: center; color: white;}